.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.nav-left {
  display: flex;
}

.dropdown {
  position: relative;
  margin-right: 20px;
}

.dropbtn {
  background-color: transparent;
  color: #333;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-left: auto; 
}

.logo-container {
  margin-right: auto;
  margin-left: auto; 
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px; 
}

.icon {
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

.icon-label {
  font-size: 14px;
  color: #333;
  margin-top: 5px;
}
