.container-products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  width: 90%;
  margin-top: 30px;
}

.card-products {
  background-color: #f8f0e5;
  width: calc(33.33% - 20px); 
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 17%; /* cambio */
  padding: 20px;
  border-radius: 10px;
  height: 250px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-products.expanded {
  width: calc(20% - 40px); /* La tarjeta se expande al 20% del contenedor */
  height: auto; /* La altura se ajusta automáticamente */
}

.card-img-products {
  width: 100%;
  height: 45%;
  object-fit: contain;
}

.card-body-products {
  margin-top: 30px;
  margin-bottom: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title-products {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.title-products {
  font-family: "Didot";
  font-size: 70px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
  margin: 30px;
}

.card-text-products {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}

.card-description-products {
  display: none;
  font-size: 11.5px;
  margin-top: 5px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-products.expanded .card-description-products {
  display: block; /* Muestra la descripción cuando la tarjeta está expandida */
}

.heart-icon {
  color: #333;
  cursor: pointer;
  transition: color 0.3s;
}

.heart-icon:hover {
  color: red;
}
